$heading-color: #3f2952;
$text-color: #9c9ba0;
$body-bg-color: #f6f6f6;
$first-bg-img-color: linear-gradient(180deg, hsla(293, 100%, 63%, 1) 0%, hsla(264, 100%, 61%, 1) 100%);
$second-bg-img-color: #f1f1f1;